/* CSS Document */
body{ font-size:12px; background-color:#000;}
h2{ color:#1374b9;}
h3{ color:#294393;  }
a{ color:#666666;}

.ui-icon-myapp-entretenimiento {
	background-image: url("icon/114-balloon.png");background-size: 18px 18px;
}
.ui-icon-myapp-mitarjeta {
	background-image: url("icon/192-credit-card.png");background-size: 18px 18px;
}
.ui-icon-myapp-compras {
	background-image: url("icon/35-shopping.png");background-size: 18px 18px;
}
.ui-icon-myapp-viajes {
	background-image: url("icon/38-airplane.png");background-size: 18px 18px;
}
.ui-icon-myapp-comida {
	background-image: url("icon/48-fork-and-knife.png");background-size: 18px 18px;
}


.nav-glyphish-example .ui-btn .ui-btn-inner { padding-top: 40px !important; }
		.nav-glyphish-example .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
		#entretenimiento .ui-icon { background:  url(icon/114-balloon.png) 50% 50% no-repeat; background-size: 20px 26px; color:#FFFFFF; }
		#mitarjeta .ui-icon { background:  url(icon/192-credit-card.png) 50% 50% no-repeat; background-size: 28px 18px;  }
		#compras .ui-icon { background:  url(icon/35-shopping.png) 50% 50% no-repeat;  background-size: 24px 22px; }
		#viajes .ui-icon { background:  url(icon/38-airplane.png) 50% 50% no-repeat;  background-size: 22px 24px; }
		#comida .ui-icon { background:  url(icon/48-fork-and-knife.png) 50% 50% no-repeat;  background-size: 18px 26px; }
	

